{% extends "base.html" %}

{% block body_id %}list-page{% endblock %}

{% block nav_between %}
  <aside>
    {% with page|slice:"-1" as last_pages %}
    from {{ page.0.meta.pub_date|date:"N Y" }} until {{ last_pages.0.meta.pub_date|date:"N Y" }}
    {% endwith %}
  </aside>
{% endblock %}

{% block content %} 
  <ul class="post-list">
    {% for post in page %}
      <li>
        <h1><a href="{{ post.meta.url }}" title="{{ post.meta.title }}">{{ post.meta.title }}</a></h1>
        <time datetime="{{ post.meta.pub_date }}">{{ post.meta.pub_date|date }}</time>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
