#didact { position:relative; width:400px; height:400px; overflow:hidden; -webkit-transition:width 0.3s ease-in; }
#didact_container { position:fixed; top:115px; width:265px; border:1px solid #CCC; height:400px; overflow:hidden; border-radius:6px; -webkit-box-shadow:1px 1px 6px rgba(0,0,0,0.3); -webkit-transition:width 0.3s ease-in; }
#didact ::-webkit-scrollbar { width: 10px; height: 10px; }
#didact ::-webkit-scrollbar-thumb:vertical { background-color: #777; border-color: transparent; min-height: 30px; -webkit-border-radius: 5px; border-radius: 5px; }

#didact > ul,
#didact > div { position:absolute; left:100%; -webkit-transition:left 0.3s ease-in, width 0.3s ease-in; background:white; overflow:scroll; height:400px; width:400px; }

#didact ul { margin:0; padding:0; }
#didact ul li { list-style:none; border-bottom:1px #CCC solid; padding:5px 0px; margin:5px 0px; }

#didact ul li:before { width:16px; height:16px; margin:0px 8px; content:' '; display:inline-block; }
#didact ul li.text_plain:before { background-image:url('https://assets3.github.com/images/icons/txt.png?fa9f6136a59a5559c54862c9d4cd1abc605c3480'); }
#didact ul li.directory:before { background-image:url('https://assets2.github.com/images/icons/dir.png?fa9f6136a59a5559c54862c9d4cd1abc605c3480'); }
#didact ul li a { text-decoration:none; color:#4183C4; }
#didact .active { left:0px; }

#didact > div pre { color:#333; font:16px "Courier" monospace; }

#didact_container:hover { width:900px; }
#didact_container:hover #didact { width:900px; }
#didact_container:hover #didact > div,
#didact_container:hover #didact ul { width:900px; }

#didact_container > div .line_numbers { padding:6px 3px; color:#333; background:#EEE; font-size:0.8em; }
#didact_container > div .line_numbers { border-right:1px solid #CCC; text-align:right; }
#didact_container > div .line { padding-left:6px; font-size:0.8em; }
