html,
body        { font-family: "Berthold Akzidenz Grotesk BE", "Helvetica Neue", "Helvetica", sans-serif; font-size:16px; }

h1  { font-size: 8.0em; }
h2  { font-size: 2.5em; }
h3  { font-size: 2.0em; }
h4  { font-size: 1.5em; }
p   { font-size: 1.2em; }
p   { line-height: 1.5; }
a:visited,
a:hover,
a           { text-decoration:none; }

ol li { list-style:inside decimal; margin-bottom:20px; }
ol li pre { margin-top:16px; margin-bottom:24px; }
h1              { width:100%; background:rgba(255, 102, 0,1.0); overflow:hidden; height:0.4em; padding:16px 0px; line-height:0.0; }
h1 a            { width:960px; margin:0pt auto; display:block; color:white; text-transform:uppercase; margin-top:0.7em; padding-top:1px; }
h1 a            { -webkit-transition:margin-top 0.5s linear; -moz-transition:margin-top 0.5s linear; } 
h1 a:hover      { margin-top:0.4em; }

#wrap { width:960px; margin:0pt auto; position:relative; }
#list-page #wrap { height:640px; width:100%; overflow:hidden; }

.post-list      { -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); }
.post-list      { -webkit-transform-origin:top left; }
.post-list      { -moz-transform-origin:top left; margin-left:50%; width:640px; overflow:hidden; -webkit-transition:left 0.2s linear; -moz-transition:left 0.2s linear; position:absolute; top:0px; left:0px; }

.post-list li   { position:relative; margin:8px 16px; padding:16px 32px; background:rgba(255, 102, 0,1.0); }
.post-list li { -moz-transition:padding-top 0.5s ease-in, background 0.8s ease-in; }
.post-list li { -webkit-transition:padding-top 0.5s ease-in, background 0.8s ease-in; }
.post-list li:hover { padding-top:300px; background:rgba(0,0,0,1.0); }
.post-list li a { color:white; }
.post-list li a:hover { text-decoration:underline; }

.post-list li p { position:absolute; top:280px; left:32px; -moz-transform:rotate(-90deg); display:block; }
.post-list li p { -moz-transform:rotate(-90deg); -moz-transform-origin:top left; }
.post-list li p { -webkit-transform:rotate(-90deg); -webkit-transform-origin:top left; }
.post-list li p { width:260px; text-align:right; }
.post-list li p { color:rgba(255,255,255,0.0); -moz-transition:color 1s ease-in; -webkit-transition:color 1s ease-in; }
.post-list li:hover p { color:rgba(255,255,255,1.0); display:block; }

footer { background:black; width:100%; display:block; }
footer { color:white; }
footer { padding-top:80px; }
footer div { width:960px; margin:0pt auto; overflow:hidden; }
footer h4 { display:block; float:left; width:300px; padding-bottom:100px; line-height:1.4; }
footer h4 mark { font-style:italic; }
footer div p { font-size:0.9em; color:rgba(255,255,255,0.7); }
#wrap article { margin-top:32px; }
#wrap article { width:600px; display:block; margin-left:300px; }
#wrap article section >header,
#wrap article section >h2,
#wrap article section >h3 { margin-left:-300px; width:268px; float:left; text-align:right; }
#wrap article p:first-letter { margin-left:32px; text-transform:uppercase; }
#wrap article p { margin-bottom:16px; }
header p { font-style:italic; }

article section { border-bottom:1px solid rgba(0, 0, 0, 0.5); display:block; padding-bottom:8px; margin-bottom:32px; }
article section em { font-style:italic; }
article section strong { font-weight:bold; }

#wrap article section pre { margin-left:-300px; background: rgba(255, 102, 0,0.2); color:rgba(0,0,0,0.8); overflow:hidden; margin-bottom:16px; padding:16px; }
#wrap article section pre code {  width:100%; padding:6px 0px; }
#wrap article section pre code:nth-child(2n) { background: rgba(255, 102, 0,0.2);}
code { font-family: monospace; height:1.0em; font-size:0.8em;}

#wrap article { color:black; }
#wrap article section ul li { list-style: disc inside; }
#wrap article section a { color:rgba(255, 102, 0, 0.5); text-shadow:0px 0px 10px rgba(0,0,0,0); } 
#wrap article section a { -moz-transition:text-shadow 0.2s ease-in, color 0.1s ease-in;}
#wrap article section a { -webkit-transition:text-shadow 0.2s ease-in, color 0.1s ease-in;}
#wrap article section a:hover { color:white; text-shadow:0px 0px 10px black, 0px 0px 20px black; }

#disqus_thread { color:black !important; }
footer mark { background:transparent !important; color:white; }
footer a { color:rgba(255, 102, 0, 1.0); -moz-transition:color 0.3s ease-in; -webkit-transition:color 0.3s ease-in; }
footer a:hover { color:white; }

#scroll_left,
#scroll_right { position:absolute; top:83px; background:black; background:rgba(0,0,0,0.2); color:white; line-height:640px; display:block; width:80px; height:640px; text-align:center; z-index:1000; font-size:2.4em; text-shadow:0px 1px 5px rgba(0,0,0,0.4); }

#scroll_left { left:0px; }
#scroll_right { right:0px; }
